.itemPlace {
  width: 220px;
  z-index: 4;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 15px;
}

.item {
  height: 220px;
  width: 220px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s;
}

.itemPlus {
  height: 100px;
  width: 100px;
  background-image: url("/plus.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item:hover {
  transition: 0.5s;
  transform: scale(1.2);
}

.itemName {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  font-family: "Nunito", Roboto;
}

.itemName:hover {
  color: #2fb3ff;
  cursor: pointer;
}

.itemPrice {
  margin: 0;
  color: #2fb3ff;
  font-size: 16px;
  font-weight: bold;
}
