* {
  font-family: 'Nunito', Roboto;
}

html, body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}


#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2fb3ff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1F668F;

}